{% extends "base.html" %}

{% block content %}
<article>
  <p>{{ _('Secret link created. Share this one-time use URL:') }}</p>
  
  <div role="group">
    <input type="text" id="password-link" value="{{ password_link }}" readonly style="text-overflow: ellipsis;">
    <button type="button" id="copy-clipboard-btn" class="copy-btn" data-clipboard-target="#password-link" data-tooltip="{{ _('Copy to clipboard') }}" data-placement="top">
      <img src="{{ config.STATIC_URL }}/images/copy.svg" alt="" width="26">
    </button>
  </div>
  
  <a href="{{ url_for('index') }}" role="button" class="outline secondary full-width">
    {{ _('Share Another Secret') }}
    <div class="arrow-icon"></div>
  </a>
</article>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
