{% extends "base.html" %}

{% block content %}
<section>
  <p>{{ _('The secret has been temporarily saved. Send the following URL to your intended recipient.') }}</p>
  
  <input type="text" id="password-link" value="{{ password_link }}" readonly>
  
  <button type="button" id="copy-clipboard-btn" data-clipboard-target="#password-link">
    📋 {{ _('Copy to clipboard') }}
  </button>
</section>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
