{% extends "base.html" %}

{% block content %}
<article>  
  <div class="textarea-wrapper">
    <textarea id="password-text" name="password-text" rows="10" readonly>{{ password }}</textarea>
    <button type="button" id="copy-clipboard-btn" class="copy-btn-overlay" data-clipboard-target="#password-text" data-tooltip="{{ _('Copy to clipboard') }}" data-placement="top">
      <img src="{{ config.STATIC_URL }}/images/copy.svg" alt="" width="24">
    </button>
  </div>

  <p><small>{{ _('Secret has been deleted. This link can\'t be used again.') }}</small></p>

  <a href="{{ url_for('index') }}" role="button" class="outline secondary full-width">
    {{ _('Share Your Own Secret') }}
    <div class="arrow-icon"></div>
  </a>
</article>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.2.0.11.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
