{% extends "base.html" %}

{% block content %}
<section>  
  <textarea id="password-text" name="password-text" rows="10" readonly>{{ password }}</textarea>
  
  <button type="button" id="copy-clipboard-btn" data-clipboard-target="#password-text">
    {{ _('Copy to clipboard') }}
  </button>

  <p><small>{{ _('Secret viewed and permanently deleted. This link can\'t be used again.') }}</small></p>
</section>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
