{% extends "base.html" %}

{% block content %}
<section>
  <form id="password_create" method="post" autocomplete="off">
    <label for="password">
      {{ _('Your Secret') }} <span class="red">*</span>
      <textarea id="password" name="password" rows="10" autofocus="true" placeholder="{{ _('Enter sensitive data to share via an encrypted, one-time use link...') }}" autocomplete="off" required></textarea>
    </label>

    <label for="ttl">
      {{ _('Expires In') }}
      <select id="ttl" name="ttl">
        <option value="Two Weeks">{{ _('14 days') }}</option>
        <option value="Week" selected="selected">{{ _('7 days') }}</option>
        <option value="Day">{{ _('1 day') }}</option>
        <option value="Eight Hours">{{ _('8 hours') }}</option>
        <option value="Hour">{{ _('1 hour') }}</option>
      </select>
    </label>

    <button type="submit" id="submit">{{ _('Create Secret Link') }}</button>
  </form>
</section>
{% endblock %}

{% block js %}
{% endblock %}
