{% extends "base.html" %}

{% block content %}
<section>
  <form id="password_create" method="post" autocomplete="off">
    <label for="password">
      {{ _('Your Secret') }} <span class="red">*</span>
      <textarea id="password" name="password" rows="10" autofocus="true" placeholder="{{ _('Enter sensitive data to share via an encrypted, one-time use link...') }}" autocomplete="off" required></textarea>
    </label>

    <label for="ttl">
      {{ _('Expires In') }}
      <select id="ttl" name="ttl">
        {% set ttl_options = [
          ('Hour', _('1 hour')),
          ('Day', _('1 day')),
          ('Eight Hours', _('8 hours')),
          ('Week', _('7 days')),
          ('Two Weeks', _('14 days'))
        ] %}
        {% for value, label in ttl_options %}
        <option value="{{ value }}"{% if config.DEFAULT_TTL.lower() == value.lower() %} selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </label>

    <button type="submit" id="submit">{{ _('Create Secret Link') }}</button>
  </form>
</section>
{% endblock %}

{% block js %}
{% endblock %}
