{% extends "base.html" %}

{% block content %}
<section>
  <form id="password_create" method="post" autocomplete="off">
    <label for="password">
      {{ _('Your Secret') }} <span class="red">*</span>
      <textarea id="password" name="password" rows="10" autofocus="true" placeholder="{{ _('SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient.') }}" autocomplete="off" required></textarea>
    </label>

    <label for="ttl">
      {{ _('Expires In') }}
      <select id="ttl" name="ttl">
        <option value="Two Weeks">{{ _('Two Weeks') }}</option>
        <option value="Week" selected="selected">{{ _('Week') }}</option>
        <option value="Day">{{ _('Day') }}</option>
        <option value="Eight Hours">{{ _('Eight Hours') }}</option>
        <option value="Hour">{{ _('Hour') }}</option>
      </select>
    </label>

    <button type="submit" id="submit">{{ _('Generate URL') }}</button>
  </form>
</section>
{% endblock %}

{% block js %}
{% endblock %}
